for blog in blogs
  if !blog.isDraft || (session &&session.login)
    div.blog
      header.article-header
        h1
          a(class="article-title", href="/blog/#{blog.id}", title="#{blog.title}")= blog.title
          if (session.login)
            a(class="article-edit", href="/blog/edit/#{blog.id}", title="edit")
              span.octicon.octicon-pencil
            a(class="article-delete", href="/blog/delete/#{blog.id}", title="delete")
              span.octicon.octicon-trashcan
        label.article-times 阅读#{blog.times}次
      .content.article-entry
        != blog.content
      footer.article-footer
        if nextBlog && nextBlog.id
          div.article-next-link
            label 前一篇
            a(href="/blog/#{nextBlog.id}",title="#{nextBlog.title}")= nextBlog.title
        ul.article-tag-list
          - for tag in blog.tags
            li.article-tag-list-item
              a(href="/blog/tag/#{tag.id}",title="#{tag.name}").article-tag-list-link= tag.name
        a(href="#").article-time= blog.addTime
      if comments
        include ./comment.jade